#divLogin{
    display: flex;
    flex-direction: column;
    width: 50vh;
    border-radius: 5px;
    background-color: #f2f2f2;
    align-items: center;
    width: 100vw;
    padding: 20px;
    height: 100vh;
    /* margin-top: 5%; */
    /* margin-right: 40%; */
    background-image: url(../plus.png);
    background-size: cover;
    background-position: center;
    /* opacity: 56%;*/
} 
#form{

    display: flex;
    /* background: transparent; */

    padding: 4%;
    flex-direction: column;
    align-items: center;
    margin-top: 12%;
}
label{
    font-size: larger;
}
Button{
    background-color: red;
}
#password{
    border: 2.5px solid red;
}
 /* .page {
    background-image: url('path/to/backgroundImage.jpg');
    background-size: cover;
    background-position: center;
    
  } */


/* .error {
    color: red;
font-size: 2px;
background:none;

  } */
 #form p{
    background-color: white;
    /* font-size: 5em; */
    opacity: 100%;
    color: red;
   /* background:none; */
   font-size: 1.2em;
  }